.hand-container {
  position: fixed;
  height: 50%;
  width: 100%;
  bottom: 0;
  pointer-events: none;
  z-index: 1000; 
}

.hand-card {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 205px;
  pointer-events: auto;
  transition: transform 0.8s ease, opacity 0.3s ease;
  opacity: 1;
}


.hand-card.playing {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 2000;
  transition: transform 1s ease;
}
