.spacer {
  flex: 1 1 auto;
}
.slug-pill {
  margin-right: 8px;
  white-space: nowrap;
}

.content {
  margin: 24px 0px;
  padding: 0 16px;
  display: grid;
  gap: 16px;
  width: 100%;

  height: calc(100vh - 64px - 24px);
  overflow-y: auto;
}

.padd {
  height: 150px;
  width: 100vw;
}
