.card {
  position: relative;
  width: 205px;
  height: 275px;
  border-radius: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 100;
}

.card-bg {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-size: cover;
  background-position: center;
  transition: transform 0.15s ease;
  will-change: transform;
  z-index: 0;
  transform-style: preserve-3d;
}

.inset-border {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid;
  border-radius: 19px;
  pointer-events: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
}

.label-circle {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  transition: opacity 0.6s ease-in-out;
}

.card-text {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Inter', sans-serif;
  z-index: 1;
  max-width: 193px;
  text-shadow: 0px 0px 16px rgb(0, 0, 0, 0.85);
  margin-bottom: 20px;
  word-break: break-word;
  transition: opacity 0.7s ease-in-out 0.3s;
}
