/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* ==== Global transition animation styles ==== */

.hand-card-clone.playing {
  position: fixed;
  z-index: 2000;
  animation: play 0.75s cubic-bezier(.44,.07,.05,1) forwards;
  transform-origin: center center;
  transition: transform 1.8s ease-in-out, opacity 0.5s ease;
  pointer-events: none;
}

@keyframes play {
  100% {
    top: 50.2%;
    left: 50.2%;
    transform: translate(-50%, -50%) scale(0.85);
  }
}



.hand-card-clone.fullscreen {
  /* top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 0; */
  animation: expandToFullScreen 2s ease forwards !important;
}

@keyframes expandToFullScreen {
  to {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}

.hand-card-clone.fullscreen .label-circle,
.hand-card-clone.fullscreen .card-text {
  opacity: 0;
}