.deck-pager {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 60vh;
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
    padding-top: 50px;
    z-index: 500;
    position: absolute;
    overflow: visible;
}

.deck-mask {
  overflow: visible;
  flex: 1;
  position: relative;
  height: 100%;
}


.deck-slide {
  width: 269px;
  height: 192px;
}

.nav-button {
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
  padding: 0 10px;
  height: 100%;
}

.nav-button:disabled {
  opacity: 0;
  cursor: auto;
}

.deck-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}
