<div class="deck-pager">

  <div #deckMaskRef class="deck-mask">
      @for (deck of decks; track $index; let i = $index) {
        <div class="deck-slide" [ngStyle]="getEllipseDeckStyle(i)">
          <app-deck
            [deck]="deck"
            (deckSelected)="onDeckClicked($event)"
          />
        </div>
      }
  </div>
  <div class="deck-controls">
    <button class="nav-button" (click)="prevPage()" [disabled]="!canScrollPrev">
      ‹
    </button>

    <button class="nav-button" (click)="nextPage()" [disabled]="!canScrollNext">
      ›
    </button>
  </div>
</div>


