.deck-wheel-container {
    justify-content: center; 
    align-items: center;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: nowrap;
    gap: 32px;
    overflow-x: auto;
    padding: 20px;
}