<div class="background" #bgEl 
    [style.--c1]="gradient.color1"
    [style.--c2]="gradient.color2"
    [style.--c3]="gradient.color3"
    [style.--p1]="gradient.position1"
    [style.--p2]="gradient.position2"
    [style.--p3]="gradient.position3"
    [style.--y]="'200%'">
</div>

<div class="page-switcher top" [class.nav-disabled]="isBlocked" #pageSwitcher>
    @for (page of otherPages; let i = $index; track page.path) {
      <button class="text-button" #firstBtn *ngIf="i === 0" [ngStyle]="{'color': navColor, 'border-color': navColor}" (click)="navigateTo(page.path)">
        {{ page.label }}
      </button>
      <button class="text-button" *ngIf="i !== 0" [ngStyle]="{'color': navColor, 'border-color': navColor}" (click)="navigateTo(page.path)">
        {{ page.label }}
      </button>
    }
</div>