<div class="background" [ngStyle]="{'background': gradientStyle}"></div>

<div class="page-switcher top" #pageSwitcher>
    @for (page of otherPages; let i = $index; track page.path) {
      <button class="text-button" #firstBtn *ngIf="i === 0" [ngStyle]="{'color': navColor, 'border-color': navColor}" (click)="navigateTo(page.path)">
        {{ page.label }}
      </button>
      <button class="text-button" *ngIf="i !== 0" [ngStyle]="{'color': navColor, 'border-color': navColor}" (click)="navigateTo(page.path)">
        {{ page.label }}
      </button>
    }
</div>