.block-wrapper {
  padding: 1rem;
  margin-bottom: 2rem;
}

.grid-container {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.page-content{
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.scroll-container {
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}