.page-wrapper {
    padding: 2rem;
    color: white;
    font-size: 1.25rem;
    max-width: 800px;
    margin: 100px auto 0;
    text-align: center;
  }
  
  .page-content {
    white-space: pre-line;
  }